#home{
    .video{
        height: 0.8rem;
        background-color: white;
        position: relative;
        span{
            position: absolute;
            bottom: 0;
            left: 23%;
            width: 0.6rem;
            height: 3px;
            background-color: #6e0a95;
            display: block;
        }
        .tActive{
            color: #641d90;
        }
        button:nth-child(1){
            margin-left: 5%;
        }
        button{
            width: 45%;
            float: left;
            display: block;
            font-size: 0.3rem;
            color: #333333;
            line-height: 0.8rem;
            text-align: center;
            background-color: white;
        }
    }
}
#home .hotQuestion .qusetionBox .qList .questionDetails .qdr ul li:nth-child(1){
    height: 0.8rem;
    -webkit-line-clamp: 2;
    p{
        text-indent: 0px;
        padding-left: 5px;
        color: #333333;
    }
}
#home .hotQuestion .qusetionBox .qList .questionDetails .qdr ul li:nth-child(2){
    position: relative;
    p:nth-child(1){
       color: #6e0a95; 
    }
    p:nth-child(2){
        position: absolute;
        font-size: 0.24rem;
        color: #999999;
        top: 0;
        right: 0;
        line-height: 0.36rem;
    }
}
#home .hotQuestion .qusetionBox .qList .questionDetails {
    padding: 0.15rem 0;
}
.noResult{
    width: 100%;
    ul{
        width: 100%;
        li a{
            width: 64%!important;
            font-size: 0.28rem;
            border: 1px solid #dcdcdc;
            width: 90%;
            background-color: white;
            color: #1b1a20;
        }
    }
}
.noResult img{
    width: 25%;
}
