body{
    background-color: #F6F4F8;
}
.problemBox{
    margin-top: 0.2rem;
    background-color: white;
    .pTitle{
        text-align: center;
        padding: 0.4rem 0;
        p{
            width: 92%;
            margin: 0 auto;
            line-height: 0.5rem;
        }
        ul li:nth-child(1) p{
            font-size: 0.32rem;
            color: #030303;            
        }
        ul li:nth-child(2) p{
            font-size: 0.28rem;
            color: #999999;
        }
    }
    .problems{
        .problem{
            .choice{
                font-size: 0.28rem;
            }
            p{
                font-size: 0.28rem;
                line-height: 0.8rem;
                width: 93.33%;
                padding: 0 3.375%;
                background-color: #f6f4f8;
            }
        }
    }
}
.choice {
    position: relative;
    padding: 0.2rem 0;
}

.choice .radio {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 0.8rem;
    cursor: pointer;
    line-height: 0.6rem;
}

.choice .radio input {
    position: absolute;
    left: -9999px;
}

.choice .radio i {
    display: block;
    position: absolute;
    top: 0.18rem;
    margin-top: -1px;
    left: 0.35rem;
    width: 0.24rem;
    height: 0.24rem;
    outline: 0;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

.choice .radio input:checked+i {
    border-color: #0c4757;
    border: 1px solid #780d7e;
}

.choice .radio input+i:after {
    position: absolute;
    content: '';
    top: 0.04rem;
    left: 0.04rem;
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background-color: #780d7e;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}
.choice .radio input:checked+i:after {
    opacity: 1;
}
.choice .checkBox {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 0.8rem;
    cursor: pointer;
    line-height: 0.6rem;
}

.choice .checkBox input {
    position: absolute;
    left: -9999px;
}

.choice .checkBox i {
    display: block;
    position: absolute;
    top: 0.18rem;
    margin-top: -1px;
    left: 0.35rem;
    width: 0.24rem;
    height: 0.24rem;
    outline: 0;
    border: 1px solid #b8b8b8;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

.choice .checkBox input:checked+i {
    border-color: #0c4757;
    border: 1px solid #780d7e;
    background-color: #780d7e;
    background-image: url(../img/yes.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%; 
}
.st{
    padding: 0.8rem 0;
    button{
        display: block;
        line-height: 0.8rem;
        width: 93.33%;
        margin: 0 auto;
        color: #ffffff;
        background-color: #780d7e;
        border-radius: 5px;
    }
}
