body{
    background-color: #F6F4F8;
}
.problemBox{
    margin-top: 0.2rem;
    background-color: white;
    .score{
        width: 100%;
        height: 1.8rem;
        line-height: 1.8rem;
        background-color: #F6F4F8;
        margin-top: -0.2rem;
        p{
            text-align: center;
            font-size: 0.32rem;
            span{
                font-size: 1.0rem;
                color: #dc1727;
                font-weight: bold;
            }
        }
    }
    .pTitle{
        text-align: center;
        padding: 0.4rem 0;
        p{
            width: 92%;
            margin: 0 auto;
            line-height: 0.5rem;
        }
        ul li:nth-child(1) p{
            font-size: 0.32rem;
            color: #030303;            
        }
        ul li:nth-child(2) p{
            font-size: 0.28rem;
            color: #999999;
        }
    }
    .problems{
        .problem{
            .choice{
                font-size: 0.28rem;
            }
            .pt{
                width: 93.33%;
                padding: 0 3.375%;
                height: 0.8rem;
                position: relative;
                background-color: #f6f4f8;
                
                .rt{
                   width: 90%; 
                }
                p{
                    font-size: 0.28rem;
                    line-height: 0.8rem; 
                    width: 100%;
                    text-align: left;
                }
                img{
                    height: 0.4rem;
                    position: absolute;
                    right: 3.375%;
                    top: 0.2rem;
                    display: none;
                }
                .errorS+img{
                   display: block; 
                }
            }
            
        }
    }
}
.choice {
    position: relative;
    padding: 0.2rem 0;
}

.choice .radio {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 0.8rem;
    cursor: pointer;
    line-height: 0.6rem;
    width:100%;
}

.choice .radio input {
    position: absolute;
    left: -9999px;
}

.choice .radio i {
    display: block;
    position: absolute;
    top: 0.18rem;
    margin-top: -1px;
    left: 0.35rem;
    width: 0.24rem;
    height: 0.24rem;
    outline: 0;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

.choice .radio input:checked+i {
    border-color: #0c4757;
    border: 1px solid #780d7e;
}

.choice .radio input+i:after {
    position: absolute;
    content: '';
    top: 0.04rem;
    left: 0.04rem;
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background-color: #780d7e;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}

.choice .radio input:checked+i:after {
    opacity: 1;
}
.choice .checkBox {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 0.8rem;
    cursor: pointer;
    line-height: 0.6rem;
    width: 100%;
}

.choice .checkBox input {
    position: absolute;
    left: -9999px;
}

.choice .checkBox i {
    display: block;
    position: absolute;
    top: 0.18rem;
    margin-top: -1px;
    left: 0.35rem;
    width: 0.24rem;
    height: 0.24rem;
    outline: 0;
    border: 1px solid #b8b8b8;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}
.choice .checkBox input:checked+i {
    border-color: #0c4757;
    border: 1px solid #780d7e;
    background-color: #780d7e;
    background-image: url(../img/yes.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%; 
}
.choice .errorS input:checked + i{
    border: 1px solid #dc1727;
}
.choice .errorS input[type='checkbox']:checked + i{
    background-color: #DC1727;
}
.choice .errorS input+ i:after{
    background-color: #DC1727;
}
.choice .errorS{
    color: #DC1727;
}
.errorS{
   color: #DC1727; 
}
.st{
    padding: 0.8rem 0;
    button{
        display: block;
        line-height: 0.8rem;
        width: 93.33%;
        margin: 0 auto;
        color: #ffffff;
        background-color: #780d7e;
        border-radius: 5px;
    }
}
//结果
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    >.score{
        width: 4.0rem;
        height: 4.0rem;
        border: 1px solid #d8d7da;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        position: relative;
        >div{
            width: 3.0rem;
            height: 3.0rem;
            border: 1px solid #d8d7da;
            border-radius: 50%;
            margin: -0.5px 0 0 -0.5px;       
            p:nth-child(1){
                line-height: 3.0rem;
                font-size: 0.5rem;
                text-align: center;
                span{
                    font-size: 1.4rem;
                    color: #dc1727;
                    font-weight: bold;
                }
            }
            p:nth-child(2){
                position: absolute;
                bottom: 0.5rem;
                font-size: 0.28rem;
                text-align: center;
                color: #aaaaaa;
                span{
                    color: #1b1a20;
                    font-size: 0.34rem;
                    font-weight: bold;
                }
            }
        }
    } 
    .rBtn {
        width: 100%;
        a {
            font-size: 0.28rem;
            height: 0.8rem;
            background-color: white;
            border-radius: 4px;
            border: 1px solid #dcdcdc;
            width: 40%;
            margin-left: 8%;
            margin-top: 0.4rem;
            color: #1b1a20;
            text-align: center;
            line-height: 0.8rem;
        }
        a:nth-child(2){            
            margin: 0;
            margin-right: 8%;
            margin-top: 0.4rem;
        }
    } 
}