.videoContent{
    margin-top: 0.2rem;
    .vType{
        height: 1.0rem;
        background-color: white;
        border-bottom: 1px solid #D2D2D2;
        .vTypeIn{
            width: 94%;
            margin: 0 auto;
            position: relative;
            height: 1.0rem;
            span{
                width: 0.4rem;
                display: block;
                height: 6px;
                border-radius: 6px;
                background-color: #6c1d76;
                position: absolute;
                left: 0.28rem;
                bottom: 0;
            }
        }
        ul{
            width: 100%;
        }
        ul li{
            float: left; 
            width: 1.0rem;          
            a{
                font-size: 0.32rem;
                display: block;
                color: #333333;
                line-height: 1.0rem;
                text-align: center;
            }
            .aActive{
                color: #6c1d76;
            }
        }
    }
    .hotVideo{
        background-color: white;
        width: 100%;
        height: 1.01rem;
        position: relative;
        >a{
            width: 100%;
            font-size: 0.32rem;
            display: block;
            color: #333333;
            line-height: 1.0rem;
            text-align: center;
            border-bottom: 1px solid #D2D2D2;
            text-indent: -0.5rem;
        }
        .classifyBox {
            position: absolute;
            top: 100%;
            margin: 0;
            padding: 0rem 0 0rem;
            z-index: 5;
            display: none;
        }
        >img{
            position: absolute;
            left: 58%;
            top: 0.42rem;
            height: 0.12rem;
            transition: transform 0.5s;
        }
        .r90{
            transform: rotate(180deg);
        }
    }
}
.videoIn{
    background-color: white;
    margin-bottom: 0.2rem;
    .videoShow{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        position: relative;
        iframe,>img{
            width: 100%;
        }
        .videoBox{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            a{
                display: block;
                width: 18%;
                img{
                   width: 100%; 
                }
            }
        }
        
    }
    .topTitle,.bottomTitle{
        width: 90%;
        margin: 0 auto;
        line-height: 0.4rem;
        position: relative;
        word-break: break-all;
        text-overflow: ellipsis;
         display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
        -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
         -webkit-line-clamp: 1; /** 显示的行数 **/
         overflow: hidden;  /** 隐藏超出的内容 **/
    }
    .topTitle p{
        padding-top: 0.1rem;
        font-size: 0.28rem;
        color: #333333;
    }
    .bottomTitle p{
        font-size: 0.26rem;
        padding-bottom: 0.1rem;
        color: #999999;
    }
    .bottomTitle p:nth-child(2){
        position: absolute;
        right: 0;
        top: 0;
        background:url(../img/eye.png) no-repeat 0 center;
        background-size: auto 0.2rem ;
        padding-bottom: 0rem;
        text-indent:0.4rem ;
    }
}