#login{
    width: 100%;
    height: 100%;
    background:url(../img/login.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    ul li:nth-child(1){
        img{
            width: 45%;
            margin: 0 auto;
        }
    }
    ul li{
        font-size: 0.24rem;
        width: 80%;
        margin: 0 auto;
    }
    ul li:nth-child(2){
        margin-top: 0.5rem;
    }
    ul li input{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 0.8rem;
        margin-top: 0.2rem;
        background-color: rgba(0,0,0,0);
        border-radius:0.8rem ;
        border: 1px solid #bf8dcc;
        font-size: 0.28rem;
        text-indent: 0.4rem;
        color: #bf8dcc;
    }
    input::-ms-input-placeholder{
        color: #bf8dcc;
    }
    input::-moz-placeholder{
        color: #bf8dcc;
    }
    input::-webkit-input-placeholder{
        color: #bf8dcc;
    }
    ul li:nth-child(3){
        position: relative;
        button{
            position: absolute;
            right: 0.4rem;
            top: 1px;
            height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.28rem;
            color: #ffffff;
            background-color:transparent;
        }
    }
    ul li:nth-child(4) .checkBox{
        position: relative;
        width:0.25rem;
        height:0.25rem;
        border: 1px solid #d4abd9;
        border-radius: 3px;
        background-color: rgba(0,0,0,0);
        margin-top: 0.2rem;
        margin-left: 0.4rem;
        img{
            width: 0.21rem;
            margin-top: 0.02rem;
        }
        input{
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
       
    }
    .read {
        margin-top: 0.18rem;
        margin-left: 0.1rem;
        a {
            font-size: 0.24rem!important;
            color: #d4abd9;
        }
    }
    ul li:nth-child(5) button{
       margin-top: 0.4rem;
       width: 100%;
       height: 0.8rem;
       font-size: 0.28rem;
       background-color: #e6cde8;
       border-radius:0.8rem ;
       color: #75097a;
    }
}
#content{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 0%;
    z-index: 10;
    background-color: black;
}
