body{
    background-color: #f4f4f4;
}
#order{
    .choice{
        width: 98%;
        padding: 0% 1%;
        background-color: white;
        ul li{
            float: left;
            width: 16.66666%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            a{
                display:block;
                font-size: 0.24rem; 
                line-height: 0.6rem;
                color: #414548;
            }
           .aActive{
               color: #6e0a95;
               border-bottom: 2px solid #6e0a95;
           }
        }
    }
    .customer{
        margin-bottom: 0;
        margin-top: 0.2rem;
    }
}
