body{
    background-color: #efeff3;
}
.classifyBox{
    background-color: white;
    width: 100%;
    margin-top: 0.2rem;
    padding: 0rem 0 0.2rem;
    >ul>li>a{
        display: block;
        position: relative;
        width: 88%;
        margin: 0 auto;
        font-size: 0.3rem;
        line-height: 1.0rem;
        color: #030303;
        text-indent:0.2rem;
        border-bottom: 1px solid #d2d2d2;
        img{
            position: absolute;
            right: 0.2rem;
            top: 0.4rem;
            height: 0.3rem;
            transition: transform 0.5s;
        }
        .imgR{
            transform: rotate(90deg);
        }
    }
    >ul>li>ul{
        display: none;
    }
    >ul>li>ul>li>a{
        display: block;
        position: relative;
        width: 88%;
        margin: 0 auto;
        font-size: 0.28rem;
        line-height: 1.0rem;
        color: #666666;
        text-indent:0.73rem;
        border-bottom: 1px solid #d2d2d2;
        span{
            display: block;
            position: absolute;
            top: 0.42rem;
            left: 0.3rem;
            border-radius: 50%;
            width: 0.14rem;
            height: 0.14rem;
            border: 1px solid #a0a0a0;
        }
    }
}
