body {
  background-color: #f6f4f8; }

#person .head {
  width: 100%;
  height: 2.0rem;
  background: url(../img/jHead.jpg) no-repeat;
  background-size: cover;
  position: relative; }
  #person .head .headPic {
    width: 1.0rem;
    height: 1.0rem;
    margin-top: 0.5rem;
    margin-left: 6%;
    border-radius: 50%;
    background: url(../img/person.png) no-repeat;
    background-size: cover;
    overflow: hidden; }
    #person .head .headPic img {
      width: 100%; }
  #person .head .infor {
    width: 4.5rem;
    height: 1.0rem;
    margin-top: 0.5rem;
    overflow: hidden;
    line-height: 0.35rem;
    text-indent: 0.2rem; }
    #person .head .infor ul li:nth-child(1) p {
      margin-top: 0.15rem;
      font-size: 0.28rem;
      color: white; }
    #person .head .infor ul li:nth-child(2) p {
      font-size: 0.24rem;
      color: #fffeff; }
  #person .head > img {
    position: absolute;
    top: 50%;
    right: 6%;
    height: 0.32rem;
    margin-top: -0.16rem; }
#person .myOrder {
  margin-top: 0.2rem;
  width: 100%;
  background-color: white; }
  #person .myOrder .moreOrder {
    width: 93.33%;
    margin: 0 auto;
    height: 0.8rem;
    position: relative; }
    #person .myOrder .moreOrder a {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 4;
      display: block;
      font-size: 0.28rem;
      line-height: 0.8rem;
      color: #0b1b27;
      background: url(../img/progress.png) no-repeat left center;
      background-size: auto 0.28rem;
      text-indent: 0.45rem;
      border-bottom: 1px solid #e2e2e2;
      font-weight: bold; }
    #person .myOrder .moreOrder p {
      font-size: 0.24rem;
      line-height: 0.8rem;
      position: absolute;
      top: 0;
      right: 0%;
      color: #999999;
      width: 1.21rem;
      background: url(../img/moreOrder.png) no-repeat right center;
      background-size: auto 0.22rem; }
#person .bottomChoice .moreOrder:nth-child(1) a {
  background-image: url(../img/seting.png); }
#person .bottomChoice .moreOrder:nth-child(2) a {
  background-image: url(../img/about.png); }
#person .orderBox {
  width: 93.33%;
  margin: 0 auto; }
  #person .orderBox .orders {
    width: 20%;
    height: 1.8rem; }
    #person .orderBox .orders a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column;
      position: relative; }
      #person .orderBox .orders a img {
        height: 0.4rem;
        margin: 0 auto; }
      #person .orderBox .orders a p {
        font-size: 0.24rem;
        color: #666666;
        text-align: center;
        line-height: 0.4rem;
        margin-top: 0.1rem; }
      #person .orderBox .orders a span {
        position: absolute;
        right: 0.2rem;
        top: 0.32rem;
        border: 1.5px solid #e35a54;
        border-radius: 50%;
        font-size: 0.24rem;
        width: 0.35rem;
        height: 0.35rem;
        text-align: center;
        line-height: 0.35rem;
        color: #e35a54;
        background-color: white;
        transform: scale(0.75); }
#person .twoChoice {
  background-color: white; }
  #person .twoChoice > div {
    width: 50%; }
    #person .twoChoice > div a {
      width: 100%;
      height: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column;
      position: relative; }
      #person .twoChoice > div a p:nth-child(1) {
        font-size: 0.3rem;
        color: #333333;
        text-align: center;
        font-weight: bold;
        margin-top: -0.05rem; }
      #person .twoChoice > div a p:nth-child(2) {
        font-size: 0.3rem;
        color: #333333;
        font-size: 0.24rem;
        text-align: center; }
      #person .twoChoice > div a span {
        position: absolute;
        top: 0.1rem;
        left: -0.5px;
        height: 1.0rem;
        border-right: 1px solid #e5e5e5; }

#personInfor {
  background-color: #f6f4f8;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 6; }
  #personInfor .message ul li:nth-child(1) > div {
    height: 1.6rem; }
    #personInfor .message ul li:nth-child(1) > div a {
      line-height: 1.6rem; }
    #personInfor .message ul li:nth-child(1) > div .hBox {
      width: 1.0rem;
      height: 1.0rem;
      border-radius: 50%;
      top: 0.3rem;
      right: 0rem;
      position: absolute;
      overflow: hidden; }
      #personInfor .message ul li:nth-child(1) > div .hBox img {
        width: 100%; }
    #personInfor .message ul li:nth-child(1) > div > img {
      top: 0.68rem; }
  #personInfor .message ul li:last-child div a {
    border: 0px; }
  #personInfor .message .accountBox {
    margin-top: 0.2rem;
    background-color: white; }
    #personInfor .message .accountBox a {
      border: 0; }
  #personInfor .exit button {
    height: 0.8rem;
    font-size: 0.28rem;
    width: 100%;
    color: #020202;
    background-color: white;
    display: block;
    margin-top: 0.2rem; }

.message {
  width: 100%;
  margin-top: 0.2rem; }
  .message ul {
    width: 100%;
    background-color: white; }
  .message ul li > div,
  .message .account {
    width: 92%;
    margin: 0 auto;
    height: 0.8rem;
    position: relative; }
    .message ul li > div a,
    .message .account a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-size: 0.28rem;
      color: #020202;
      line-height: 0.8rem;
      border-bottom: 1px solid #e2e2e2;
      width: 100%;
      z-index: 100; }
    .message ul li > div p,
    .message .account p {
      position: absolute;
      right: 0.3rem;
      top: 0;
      line-height: 0.8rem;
      font-size: 0.26rem;
      color: #999999; }
    .message ul li > div > img,
    .message .account > img {
      position: absolute;
      height: 0.24rem;
      top: 0.28rem;
      right: 0; }
  .message ul li:last-child div a {
    border: 0px; }

.exchangeBox {
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 6; }
  .exchangeBox .exInput {
    width: 100%;
    background-color: white;
    height: 0.8rem;
    margin-top: 0.2rem; }
    .exchangeBox .exInput input {
      display: block;
      width: 92%;
      margin: 0 auto;
      line-height: 0.8rem;
      color: #333333;
      font-size: 0.28rem;
      border: 0; }
  .exchangeBox .exBtn {
    margin-top: 0.4rem; }
    .exchangeBox .exBtn button {
      display: block;
      width: 92%;
      margin: 0 auto;
      height: 0.8rem;
      font-size: 0.28rem;
      color: white;
      background-color: #76017a; }

#person .orderBox .orders {
  width: 33.333333333%; }

#person .orderBox .orders a img {
  height: 0.5rem; }

#person .orderBox .orders a span {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  border: 1.5px solid #e35a54;
  border-radius: 50%;
  font-size: 0.24rem;
  width: 0.55rem;
  height: 0.55rem;
  text-align: center;
  line-height: 0.55rem;
  color: #e35a54;
  background-color: white;
  transform: scale(0.75); }

#person .myOrder .moreOrder a {
  background-image: url(../img/progressing.png); }

#person .bottomChoice .moreOrder:nth-child(1) a {
  background-image: url(../img/produce.png);
  border: 0; }

#person .bottomChoice1 .moreOrder:nth-child(1) a {
  background-image: url(../img/help.png);
  border: 0; }

#exchangePhone .exInput ul li:nth-child(1) input {
  border-bottom: 1px solid #f0f0f0; }

#exchangePhone .exInput {
  height: 1.62rem; }

#exchangePhone .exInput ul li:nth-child(2) input {
  width: 60%;
  margin-left: 4%; }

#exchangePhone .exInput ul li:nth-child(2) {
  position: relative; }
  #exchangePhone .exInput ul li:nth-child(2) button {
    width: 2.0rem;
    font-size: 0.28rem;
    height: 0.8rem;
    background-color: white;
    display: block;
    position: absolute;
    right: 4%;
    top: 0;
    color: #6c1876; }

#exchangeAddress .exInput {
  height: 2.42rem; }
  #exchangeAddress .exInput ul li:nth-child(1) {
    position: relative; }
    #exchangeAddress .exInput ul li:nth-child(1) input {
      text-indent: 22%;
      border-bottom: 1px solid #f0f0f0;
      background: url(../img/eAddress.png) no-repeat 95% center;
      background-size: auto 0.34rem; }
    #exchangeAddress .exInput ul li:nth-child(1) p {
      font-size: 0.28rem;
      line-height: 0.8rem;
      position: absolute;
      left: 4%;
      top: 0;
      color: #020202;
      height: 0.8rem; }
  #exchangeAddress .exInput ul li:nth-child(2) p {
    width: 20%;
    float: left;
    line-height: 0.8rem;
    height: 0.8rem;
    font-size: 0.28rem;
    margin-left: 4%; }
  #exchangeAddress .exInput ul li:nth-child(2) textarea {
    width: 70%;
    float: left;
    height: 1.2rem;
    line-height: 0.4rem;
    border: 0;
    font-size: 0.28rem;
    margin-top: 0.2rem; }

#help {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #F6F4F8;
  overflow: auto; }
  #help .pHead {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 5; }
  #help .helpContent .helpChoice {
    margin: 0 auto;
    margin-top: 1.02rem;
    width: 92%; }
    #help .helpContent .helpChoice ul li {
      float: left;
      height: 0.8rem;
      width: 50%; }
      #help .helpContent .helpChoice ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 0.8rem;
        font-size: 0.32rem;
        background-color: #e3e3e3;
        color: #666666; }
      #help .helpContent .helpChoice ul li .aChioce {
        background-color: #4f137b;
        color: #ffffff; }
  #help .helpContent .helpMainCentent .contentBox {
    width: 92%;
    margin: 0 auto;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #e5e5e5; }
    #help .helpContent .helpMainCentent .contentBox ul li:nth-child(1) {
      padding: 0.3rem 0 0 0; }
      #help .helpContent .helpMainCentent .contentBox ul li:nth-child(1) p {
        font-size: 0.25rem;
        color: #1b1b1f;
        line-height: 0.4rem; }
    #help .helpContent .helpMainCentent .contentBox ul li .helpImgBox {
      margin-top: 0.3rem; }
      #help .helpContent .helpMainCentent .contentBox ul li .helpImgBox > div {
        width: 46%;
        height: 4.81312rem;
        overflow: hidden; }
        #help .helpContent .helpMainCentent .contentBox ul li .helpImgBox > div img {
          width: 100%; }
      #help .helpContent .helpMainCentent .contentBox ul li .helpImgBox > div:last-child {
        width: 0;
        height: 0; }
  #help .helpContent .helpMainCentent .contentBox:last-child {
    border: 0px; }
  #help .money {
    width: 92%;
    margin: 0 auto;
    padding: 0.3rem 0; }
    #help .money ol li {
      padding: 0.125rem 0;
      list-style-type: decimal;
      list-style-position: inside;
      font-size: 0.26rem;
      color: #1b1b1f;
      line-height: 0.45rem; }

#imgBig {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  #imgBig img {
    width: 60%; }

/*# sourceMappingURL=rPerson.css.map */
